# {{ ansible_managed }}

{% for item in drbd_disks %}
{{ hostvars[groups[drbd_group][0]]['inventory_hostname_short'] }} {% for ip in drbd_vip %}IPaddr2::{{ ip }} {% endfor %}drbddisk::{{ item['resource'] }} Filesystem::{{ item['device'] }}::{{ item['mountpoint'] }}::{{ item['filesystem'] }}::noatime {% for res in drbd_ha_resources %}{{ res }}{% endfor %}
{% endfor %}
